@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: theme('colors.white / 0.1');
  }

  body {
    color: theme('colors.gray.100');
    background: theme('colors.slate.950');
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: theme('colors.white / 0.1');
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.white / 0.2');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
